<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.bsa.android"
      android:versionCode="1"
      android:versionName="1.0">


    <application android:label="@string/app_name" android:icon="@drawable/cub_scouts_icon_60_60">
        <activity android:label="@string/app_name" android:name=".cubscouts.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".cubscouts.AcademicsSportsActivity"></activity>
        
        <activity android:name=".cubscouts.CalendarActivity"></activity>

        <activity android:name=".cubscouts.AdvancementActivity"></activity>

    </application>
</manifest>