<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.bsa.android" android:versionCode="1" android:versionName="1.0">
	<uses-permission android:name="android.permission.READ_CALENDAR"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_CALENDAR"></uses-permission>


	<application android:label="@string/app_name"
		android:icon="@drawable/cub_scouts_icon_60_60">
		<activity android:label="@string/app_name" android:name=".cubscouts.HomeActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".cubscouts.academicssports.AcademicsSportsActivity"></activity>
		<activity android:name=".cubscouts.academicssports.AcademicsActivity"></activity>
		<activity android:name=".cubscouts.academicssports.SportsActivity"></activity>

		<activity android:name=".cubscouts.CalendarActivity"></activity>

		<activity android:name=".cubscouts.AdvancementActivity"></activity>

		<activity android:name=".cubscouts.bobcat.BobcatActivity"
			android:label="@string/bobcat_label"></activity>

		<activity android:name=".cubscouts.tiger.TigerActivity"
			android:label="@string/tiger_label"></activity>
		<activity android:name=".cubscouts.tiger.TigerAchievementsActivity"
			android:label="@string/tiger_achievements_label"></activity>
		<activity android:name=".cubscouts.tiger.TigerElectivesActivity"
			android:label="@string/tiger_electives_label"></activity>

		<activity android:name=".cubscouts.wolf.WolfActivity"
			android:label="@string/wolf_label"></activity>
		<activity android:name=".cubscouts.wolf.WolfAchievementsActivity"
			android:label="@string/wolf_achievements_label"></activity>
		<activity android:name=".cubscouts.wolf.WolfAchievementActivityDetail"></activity>
		<activity android:name=".cubscouts.wolf.WolfElectivesActivity"
			android:label="@string/wolf_electives_label"></activity>

		<activity android:name=".cubscouts.bear.BearActivity"
			android:label="@string/bear_label"></activity>
		<activity android:name=".cubscouts.bear.BearAchievementsActivity"
			android:label="@string/bear_achievements_label"></activity>
		<activity android:name=".cubscouts.bear.BearElectivesActivity"
			android:label="@string/bear_electives_label"></activity>

		<activity android:name=".cubscouts.weblos.WeblosActivity"
			android:label="@string/weblos_label"></activity>
		<activity android:name=".cubscouts.weblos.WeblosAchievementsActivity"
			android:label="@string/weblos_achievements_label"></activity>
		<activity android:name=".cubscouts.weblos.WeblosElectivesActivity"
			android:label="@string/weblos_electives_label"></activity>

	</application>
</manifest>